*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	background-color: #FFF;
	color: green;
	font-family: "Bitter", "serif";
	font-size: 20px;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}

header{

	min-height: 100vh;
	background-image: linear-gradient(rgba(20, 20, 20, 0.69), rgba(20, 20, 20, 0.69)), url(../img/elec.jpg);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}


.logo{
	height: 100px;
 
 	width: 100px;
}
.navcon{
	background-color: rgba(166, 113, 75, .4);

}

@media(max-width: 820px){.navcon{background-color: #1F2633;}

						 .btn{font-size: 0.8rem;
						 margin-bottom: 8px;
			}
						.header-text{
						padding-top: 0;
						margin-bottom: 0;
						}
						.headermain{
							font-size: 1.5rem;
						}

						

						}
img.profff{

			display: block;
			margin-left: auto;
			margin-right: auto;
			border: 1px solid #ddd;
  			border-radius: 50%;
  			padding: 5px;
 			width: 250px;
 			height: 250px;
 			margin-top: 100px;
}		

@media(max-width: 360px){ #Home > div > div.jumbotron.jumbotron-fluid.header-text > div > h1{font-size: 30px;}
						  #Home > div > div.row > div > img{margin-bottom: 30px; margin-top: 30px;}
						  #Home > div > div.jumbotron.jumbotron-fluid.header-text > div > p{font-size: 15px;}
						  #Contact > div{margin: : 10px;}
						  #Contact > div{padding: 10px;}
			}

	

.landingtext{
			text-align: center;
}	

.nav-item{
	letter-spacing: 2px;
	transition: 2s;
   
}

.nav-item:hover
{
margin-bottom: : 3px solid #e67e22;
    background:#e67e22;
}

.header-text{
	font-family: "Bitter", "serif" ;
	background-color: transparent;
	color: #FFF;
}

.headermain{
	font-size: 2rem;
	letter-spacing: 4px;
	word-spacing: 4px;
	margin-bottom: 30px;
}

.btn:link,
.btn:visited{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #e67e22;
	border-radius: 30px;
	text-decoration: none;
	color: #fff;
}

.btn-full:link,
.btn-full:visited{
	background-color: #e67e22;
	transition: 0.5s;
}

.btn-full:hover,
.btn-full:active{
	background-color: #de6704;
	transition: 0.5s;
}

.btn-ghost:link,
.btn-ghost:visited{
	background-color: transparent;
	color: #e67e22;
	transition: 0.5s;
}

.btn-ghost:hover,
.btn-ghost:active{
	background-color: #e67e22;
	color: #FFF;
	transition: 0.5s;
}
.section1{
	min-height: 100vh;
	background-image: linear-gradient(rgba(220, 220, 220, 0.69), rgba(220, 220, 220, 0.69)), url(../img/city.jpg);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}


.cardcon{
	background-image: linear-gradient(rgba(20, 20, 20, 0.69), rgba(20, 20, 20, 0.69));
	background-color: transparent;
	min-height: 620px;
	padding: 20px;
	
	margin-bottom: 60px;
	color: #fff;


	-webkit-box-shadow: 4px 11px 33px 13px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 11px 33px 13px rgba(0,0,0,0.75);
	box-shadow: 4px 11px 33px 13px rgba(0,0,0,0.75);
}

.card h3{
	padding: 20px;
	font-size: 110%;
	text-align: center;
}

.card h4{

	text-align: center;
	color: #e67e22;
	padding: 20px;
	font-size: 90%;
}

.btn-card:link,
.btn-card:visited{
	background-color: transparent;
	color: #e67e22;
	transition: 0.5s;
	border: 1px solid #e67e22;
	border-radius: 30px;
	padding: 5px 15px;
	font-size: 80%;
	margin-left: 38%;
}

.btn-card:hover,
.btn-card:active{
	background-color: #e67e22;
	color: #FFF;
	transition: 0.5s;
}

footer {min-height: 100vh;
	background-image: linear-gradient(rgba(20, 20, 20, 0.69), rgba(20, 20, 20, 0.69)), url(../img/contact.jpg);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;	}

			 				
.form-box {
  max-width: 1000px;
  margin: auto;
  padding: 50px;
  background: #ffffff;
  border: 10px solid #f2f2f2;
}


input, textarea {
  width: 100%;
}
.footertext{

text-align: center;
background-color: #C0C0C0;
padding: 30px;

margin-bottom: -100px;
}













